.codex-spinner {
	width:120px;
	height:120px;
	margin: 0 auto;
}

.codex-splash {
	text-align: center;
	margin: 0 auto;
}

.codex-ficcard.ng-enter {
	animation: 300ms fade-in ease;
}

.codex-ficcard.ng-leave {
	animation: 300ms fade-out ease;
}

.codex-ficcard__card {
	min-height: 100px;
	width: 100%;
}

.codex-filterbar {
	padding-left: 0;
}

.codex-searchfield {
	margin: 0 auto;
}

@media (max-width: 479px) {	
	.codex-chapter {
		padding: 40px 28px;
		margin-bottom: 40px;
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	.codex-chapter {
		padding: 40px 28px;
		margin-bottom: 40px;
	}
}

@media (min-width: 840px) {
	.codex-chapter {
		padding: 80px 56px;
		margin-bottom: 80px;
	}
}

.codex-header__title-row {
    padding-left: 27px;
}

.codex-chapter__text {
	white-space: pre-line;
}

.codex-ficcard__details {
	height: 72px;
}

.codex-ficcard__details.ng-hide-remove {
	animation: 300ms slide-ficcard-details-down ease;
}

.codex-ficcard__details.ng-hide-add {
	animation: 300ms slide-ficcard-details-up ease;
}

@keyframes slide-ficcard-details-down {
	from {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	to {
		padding-top: 16px;
		padding-bottom: 16px;
		height: 72px;
	}
}

@keyframes slide-ficcard-details-up {
	from {
		padding-top: 16px;
		padding-bottom: 16px;
		height: 72px;
	}
	to {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

