<nav class="text-center">
	<ul class="pagination">
		<li ng-class="{disabled:currentChapter.number==1}">
			<a href aria-label="Previous" ng-click="rfnCtrl.prevChapter()">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<codex-reader-full-nav-chapter ng-repeat="c in chapters" chapter="c" current-chapter="currentChapter" scroll-to-top="scrollToTop">
		</codex-reader-full-nav-chapter>
		<li ng-class="{disabled:currentChapter.number==rfnCtrl.maxChapter}">
			<a href aria-label="Next" ng-click="rfnCtrl.nextChapter()">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>