<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
	<header class="mdl-layout__header mdl-layout__header--waterfall" ng-class="{'mdl-color--grey': !rCtrl.online}">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">
				<a href="#/">Codex</a>
			</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon" id="read-more-options">
                <i class="material-icons">more_vert</i>
            </button>
		</div>
        <div class="mdl-layout__header-row codex-header__title-row">
            <span class="mdl-layout-title">
                {{::rCtrl.fic.title}}
                <span ng-show="rCtrl.multipleChapters || rCtrl.chapter.name">
                    <i class="material-icons">chevron_right</i>
                    {{ rCtrl.chapter | chapter }}
                </span>
            </span>
        </div>
	</header>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="read-more-options">
                <li class="mdl-menu__item">
                    <label for="read-more-options-text-size-small" class="mdl-radio mdl-js-radio">
                        <input type="radio" id="read-more-options-text-size-small" name="read-more-options-text-size" class="mdl-radio__button" ng-model="rCtrl.textSize" value="1">
                        <span class="mdl-radio__label">Small text</span>
                    </label>
                </li>
                <li class="mdl-menu__item">
                    <label for="read-more-options-text-size-medium" class="mdl-radio mdl-js-radio">
                        <input type="radio" id="read-more-options-text-size-medium" name="read-more-options-text-size" class="mdl-radio__button" ng-model="rCtrl.textSize" value="2">
                        <span class="mdl-radio__label">Medium text</span>
                    </label>
                </li>
                <li class="mdl-menu__item">
                    <label for="read-more-options-text-size-large" class="mdl-radio mdl-js-radio">
                        <input type="radio" id="read-more-options-text-size-large" name="read-more-options-text-size" class="mdl-radio__button" ng-model="rCtrl.textSize" value="3">
                        <span class="mdl-radio__label">Large text</span>
                    </label>
                </li>
            </ul>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">{{::rCtrl.fic.title}}</span>
		<span class="mdl-layout-title">by {{::rCtrl.fic.authors | authorList}}</span>
		<div ng-show="::(rCtrl.fic.series && rCtrl.fic.series.length > 0)">
			Series: {{::rCtrl.fic.series | seriesList}}
		</div>
		<div ng-show="::(rCtrl.fic.genres && rCtrl.fic.genres.length > 0)">
			Genres: {{::rCtrl.fic.genres | genreList}}
		</div>
		<div ng-show="::(rCtrl.fic.matchups && rCtrl.fic.matchups.length > 0)">
			Matchups: {{::rCtrl.fic.matchups | matchupList}}
		</div>
		<div class="mdl-layout-spacer"></div>
		<codex-chapter-list></codex-chapter-list>
	</div>
	<main class="mdl-layout__content" scroll-to-top-when="chapter-changed">
		<div class="page-content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
				<div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color--white mdl-shadow--4dp codex-chapter">
					<codex-chapter-text ng-show="!rCtrl.loading" text-size="rCtrl.textSize"></codex-chapter-text>
					<codex-spinner active="rCtrl.loading"></codex-spinner>
				</div>
				<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
			</div>
			<codex-reader-footer-nav ng-show="rCtrl.multipleChapters && !rCtrl.loading"></codex-reader-footer-nav>
		</div>
	</main>
</div>